@page "/Admin/Payments"
@layout AdminLayout

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payments</li>
    </ol>
</nav>

<div class="box">
    <div class="box-header">
        <div class="box-title">
            Payments
        </div>
    </div>
    <div class="box-body">
        <table class="table table-borderless table-hover">
            <thead>
                <tr class="border-bottom">
                    <th>Public ID</th>
                    <th class="d-none d-md-table-cell">Provider</th>
                    <th class="d-none d-sm-table-cell">Store</th>
                    <th class="d-none d-md-table-cell">Amount</th>
                    <th class="d-none d-md-table-cell">Currency</th>
                    <th class="d-none d-xl-table-cell">Create Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Payments != null)
                {
                    @foreach (MPayment payment in Payments.OrderByDescending(x => x.Id))
                    {
                        <tr class="border-top">
                            <td>
                                <a class="text-decoration-none" href="/Admin/Payments/@payment.PublicId">@payment.PublicId</a>
                            </td>
                            <td class="d-none d-md-table-cell">@payment.Provider</td>
                            <td class="d-none d-sm-table-cell">@payment.Store.Name</td>
                            <td class="d-none d-md-table-cell">@payment.Amount</td>
                            <td class="d-none d-md-table-cell">@payment.Currency</td>
                            <td class="d-none d-xl-table-cell">@payment.CreateDate</td>
                            <td>
                                @if (payment.IsCompleted)
                                {
                                    if (payment.IsNotified)
                                    {
                                        <div class="dot green" title="Successfully completed" />
                                    } else
                                    {
                                        <div class="dot red" title="Notification error" />
                                    }
                                } else
                                {
                                    <div class="dot muted" title="Pending" />
                                }
                            </td>
                        </tr>
                    }
                }        
            </tbody>
        </table>
    </div>
</div>
